.GraphicsCardSlider {
  color:black;
  margin:25px auto;
  text-align:center;
  width:720px;
}

/* Rig */
.GraphicsCardSlider-rig {
  border:5px solid rgb(77,77,77);
  display:inline-block;
  margin:10px;
  height:100px;
  width:150px;
}
.GraphicsCardSlider-rig.selected {
  border-color: rgb(76, 175, 80);
}
.GraphicsCardSlider-rig-hover {
  border-color: rgb(76, 175, 80);
}

/* Card */
.GraphicsCardSlider-card {
  background-color:rgb(77,77,77);
  display:inline-block;
  margin:2px;
  width:20px;
  height:96px;
}
.GraphicsCardSlider-card.selected {
  background-color: rgb(76, 175, 80);
}
.GraphicsCardSlider-tooltip {
  background-color:white;
  font-weight:bold;
  position:relative;
  top:-40px;
  left:-5px;
  width:20px;
  padding:5px;
  margin:0 auto;
  text-align:center;
  opacity:0;
  overflow:visible;
}
.GraphicsCardSlider-tooltip.show {
  opacity:0.9;
}
.GraphicsCardSlider-tooltip.show.full {
  border-color: rgb(76, 175, 80);
}
